body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container { 
  width: 1000px;
  height: 700px;
  background: #377896;
  margin: auto;
}

.logo {
	font-family: VT323;
  text-align: center;
  font-size: 3.5rem; 
  line-height: 1.2rem;
  color: #F2E6E1;
}

.unicornStyleButton {
  width: 5rem;
	height: 5rem;
	border-radius: 100%;
	background: pink;
}

.displayAddedValue {

}

.containerCoin { 

}

.cost {
  font-size: 1rem;
}

.addingButton {
  border-radius: 3rem;
	background: pink;
	margin: 0 5px;
}


/* general style */

.nonVisible {
  display: none;
}


.flexLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
